h1 {
    font-size: ;
    font-family: ;
    padding: 50px;
    margin: 50px;
    font-weight: ;
    text-decoration: ;
    text-align: center;
    color: ;
    background-color: ;
}

.header2 {
    background-color: aqua;
}

h2 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    text-align: center;
    color: ;
    background-color: ;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    text-align: center;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: ;
    height: ;
    width: ;
}
