h1 {
    font-size: ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 2px red ;
    padding: 50px;
    margin: 50px;
    font-weight: ;
    text-decoration: ;
    text-align: center;
    color: ;
    background-color: ;
}

.header2 {
    background-color: rgb(132, 214, 214);
}

.first-paragraph {
    transform:;
}

h2 {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding: ;
    margin: ;
    font-weight:lighter;
    text-align: center;
    color: ;
    background-color: ;
}

img {
    background-color: aquamarine;
    padding: 10px;
    margin-left: 70px;
}
p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    text-align: center;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: ;
    height: ;
    width: ;
}
